{% extends 'layout-error.twig' %}
{% block content %}
    <!-- Main wrapper  -->
    <div class="error-page" id="wrapper">
        <div class="error-box">
            <div class="error-body text-center">
                <h1>404</h1>
                <h3 class="text-uppercase">Página no encontrada </h3>
                <p class="text-muted m-t-30 m-b-30">Por favor verifique su dirección e inténtelo de nuevo</p>
                <a class="btn btn-info btn-rounded waves-effect waves-light m-b-40" href="/">Regresar a inicio</a> </div>
            <footer class="footer text-center">&copy; 2018 Santz.</footer>
        </div>
    </div>
    <!-- End Wrapper -->
{% endblock %}